name: Build & deploy

on:
  push:
    branches:
      - source
  pull_request:
    branches:
      - source

jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
    - uses: actions/checkout@v2
    - id: Build-Vue
      uses: xRealNeon/VuePagesAction@1.0.0
      with:
        username: 'nuwan94'
        reponame: 'nuwan94.github.io'
        token: ${{ secrets.GITHUB_TOKEN }}